.vcenter {
    padding-top: 10px;
}

.item-border {
    border-top: 1px solid #ddd;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-block {
    margin-top: 30px;
    margin-bottom: 20px;
}

.header, .survey-header {
    margin-bottom: 20px;
}

.col-md-1 {
    text-align: center;
}

.form-group.required .control-label:after { 
    content:"*";
    color:red;
}

 .emoji {
    font-family: "Segoe UI Emoji"; 
    font-size: 42px;
    padding-top: 10px;
}

.home-title {
    font-size: 62px;
}

.photo {
    max-width: 200px;
    max-height: auto;
}
